<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.StudentresultMapper" >
  <resultMap id="BaseResultMap" type="po.Studentresult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="examnumber" property="examnumber" jdbcType="VARCHAR" />
    <result column="lessonid" property="lessonid" jdbcType="INTEGER" />
    <result column="resingle" property="resingle" jdbcType="INTEGER" />
    <result column="resmore" property="resmore" jdbcType="INTEGER" />
    <result column="restotal" property="restotal" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, examnumber, lessonid, resingle, resmore, restotal, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="po.StudentresultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from studentresult
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from studentresult
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from studentresult
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="po.StudentresultExample" >
    delete from studentresult
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="po.Studentresult" >
    insert into studentresult (id, examnumber, lessonid, 
      resingle, resmore, restotal, 
      createtime)
    values (#{id,jdbcType=INTEGER}, #{examnumber,jdbcType=VARCHAR}, #{lessonid,jdbcType=INTEGER}, 
      #{resingle,jdbcType=INTEGER}, #{resmore,jdbcType=INTEGER}, #{restotal,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="po.Studentresult" >
    insert into studentresult
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="examnumber != null" >
        examnumber,
      </if>
      <if test="lessonid != null" >
        lessonid,
      </if>
      <if test="resingle != null" >
        resingle,
      </if>
      <if test="resmore != null" >
        resmore,
      </if>
      <if test="restotal != null" >
        restotal,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="examnumber != null" >
        #{examnumber,jdbcType=VARCHAR},
      </if>
      <if test="lessonid != null" >
        #{lessonid,jdbcType=INTEGER},
      </if>
      <if test="resingle != null" >
        #{resingle,jdbcType=INTEGER},
      </if>
      <if test="resmore != null" >
        #{resmore,jdbcType=INTEGER},
      </if>
      <if test="restotal != null" >
        #{restotal,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="po.StudentresultExample" resultType="java.lang.Integer" >
    select count(*) from studentresult
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update studentresult
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.examnumber != null" >
        examnumber = #{record.examnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.lessonid != null" >
        lessonid = #{record.lessonid,jdbcType=INTEGER},
      </if>
      <if test="record.resingle != null" >
        resingle = #{record.resingle,jdbcType=INTEGER},
      </if>
      <if test="record.resmore != null" >
        resmore = #{record.resmore,jdbcType=INTEGER},
      </if>
      <if test="record.restotal != null" >
        restotal = #{record.restotal,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update studentresult
    set id = #{record.id,jdbcType=INTEGER},
      examnumber = #{record.examnumber,jdbcType=VARCHAR},
      lessonid = #{record.lessonid,jdbcType=INTEGER},
      resingle = #{record.resingle,jdbcType=INTEGER},
      resmore = #{record.resmore,jdbcType=INTEGER},
      restotal = #{record.restotal,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="po.Studentresult" >
    update studentresult
    <set >
      <if test="examnumber != null" >
        examnumber = #{examnumber,jdbcType=VARCHAR},
      </if>
      <if test="lessonid != null" >
        lessonid = #{lessonid,jdbcType=INTEGER},
      </if>
      <if test="resingle != null" >
        resingle = #{resingle,jdbcType=INTEGER},
      </if>
      <if test="resmore != null" >
        resmore = #{resmore,jdbcType=INTEGER},
      </if>
      <if test="restotal != null" >
        restotal = #{restotal,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.Studentresult" >
    update studentresult
    set examnumber = #{examnumber,jdbcType=VARCHAR},
      lessonid = #{lessonid,jdbcType=INTEGER},
      resingle = #{resingle,jdbcType=INTEGER},
      resmore = #{resmore,jdbcType=INTEGER},
      restotal = #{restotal,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>